# Git
alias g="git"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit"
alias gcm="git commit -m"
alias gcam="git commit --amend -m"
alias gcamne="git commit --amend --no-edit"
alias gp="git push"
alias gpnv="git push --no-verify"
alias gpl="git pull"
alias gst="git status"
alias gres="git reset --soft HEAD~"
alias gbr="git branch"
alias gbrd="git branch -D"
alias gsw="git switch"
alias gswc="git switch -c"
alias gswd="git switch develop"
alias gswm="git switch master"
alias gme="git merge"
alias gmed="git merge develop"
alias glog="git log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate"
alias glogd="git log --pretty=format:'%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]' --decorate --numstat"
alias gstash="git stash --keep-index"
alias gstashp="git stash pop"

# Kubernetes
alias k="kubectl"
alias kns="kubens"
alias kctx="kubectx"
alias kgcfm="kubectl get configmap -o yaml"
alias kecfm="kubectl edit configmap -o yaml"
alias kres="kubectl rollout restart"
alias kresstat="kubectl rollout status"

# Docker
alias d="docker"
alias dl="docker logs"
alias dlf="docker logs -f"
alias dex="docker exec -it"
alias dps="docker ps --format 'table {{.ID}}\t{{.Names}}\t{{.Status}}\t{{.Ports}}'"
alias dpsfull="docker ps"

